@media screen and (max-width: 500px) {
    * {
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
    }

    .alert-info {
        background-color: paleturquoise;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5em;
        width: 15em;
        border: 2px lightgray solid;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*height: 3em;*/
        /*width: 20em;*/

    }
    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
        background-color: lightgray;
        height: 2.5em;
        width: 15em;
    }
    ul {
        list-style: none;
        display: flex;

    }
    .icon {
        margin: 0 2px;
    }
    .header-img {
        display: flex;

    }

    .main {

    }
    .sub-section {

    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 10px;


    }
}
